<div class="space-30"></div>
<button class="primary-btn" routerLink="/">Back</button>
<app-contact [data]="contactData"></app-contact>

<div class="row">
  <div class="col-md-5">
    <app-ak-body>
      <app-ak-form [formConfig]="formConfig" (formGroupReceiever)="onReceiveFormGroup($event)"></app-ak-form>
    </app-ak-body>
    <button class="primary-btn" (click)="onSubmit()" type="submit">Submit</button>
  </div>
  <div class="col-md-5">
    <app-ak-body>
      <app-ak-form [formConfig]="formConfig2" (formGroupReceiever)="onReceiveFormGroup2($event)"></app-ak-form>
    </app-ak-body>
    <button class="primary-btn" (click)="onSubmitForm()" type="submit">Submit</button>
  </div>
  <div class="col-md-2">
    <p>For customer form, please click on below button</p>
    <button class="primary-btn" routerLink="customer-form">customer-form</button>
  </div>
</div>
